#index,#CambioColor { overscroll-behavior-x: none; overscroll-behavior-y: none; }
section { padding: 2rem; margin: 1rem auto; max-width: 800px; background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) }
body, footer { overscroll-behavior-x: none; font-family: Arial, sans-serif; margin: 20px; padding: 0; background-color: #f4f4f4; }
.navbar { margin-bottom: 20px; }
footer { margin-left: 0px; margin-right: 0px }
a { text-decoration:none; color: white; transition: 0.2s; }
a:hover { color: gray; transition: 0.2s; }
#ahover:hover { background-color: blue; }
ion-icon { width: 30px; margin-left: 5px; margin-right: 5px; }
